<div class="row">
		<div class="col-md-12">
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">HOT</a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">NEW</a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">DISCUSSED</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<div class="well">
      							<div class="media">
      								<a class="pull-left" href="#">
    									<img class="media-object" src="assets/img/images.jpg">
									</a>
	  								<div class="media-body">
	    								<h3 class="media-heading"><a href="#/view/deal/">Receta 1</a></h3>
		          						<p class="text-right"><a href="#/view/profile/">By Francisco</a></p>
    		      						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
        		  						<ul class="list-inline list-unstyled">
	  										<li><span><i class="glyphicon glyphicon-calendar"></i> Posted 2 days, 8 hours ago</span></li>
    	        							<li>|</li>
        	    							<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
	    	        						<span class="pull-right buttons">
							                    <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> View More</button>
                    							<button class="btn btn-sm btn-primary-deal"><i class="fa fa-fw fa-shopping-cart"></i> Get Deal</button>
                							</span>
										</ul>
    	   							</div>
    							</div>
  							</div>
  							<div class="well">
      							<div class="media">
      								<a class="pull-left" href="#">
    									<img class="media-object" src="assets/img/images.jpg">
									</a>
	  								<div class="media-body">
	    								<h3 class="media-heading"><a href="#/view/deal/">Receta 1</a></h3>
		          						<p class="text-right"><a href="#/view/profile/">By Francisco</a></p>
    		      						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
        		  						<ul class="list-inline list-unstyled">
	  										<li><span><i class="glyphicon glyphicon-calendar"></i> Posted 2 days, 8 hours ago</span></li>
    	        							<li>|</li>
        	    							<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
	    	        						<span class="pull-right buttons">
							                    <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> View More</button>
                    							<button class="btn btn-sm btn-primary-deal"><i class="fa fa-fw fa-shopping-cart"></i> Get Deal</button>
                							</span>
										</ul>
    	   							</div>
    							</div>
  							</div>
  							<div class="well">
      							<div class="media">
      								<a class="pull-left" href="#">
    									<img class="media-object" src="assets/img/images.jpg">
									</a>
	  								<div class="media-body">
	    								<h3 class="media-heading"><a href="#/view/deal/">Receta 1</a></h3>
		          						<p class="text-right"><a href="#/view/profile/">By Francisco</a></p>
    		      						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
        		  						<ul class="list-inline list-unstyled">
	  										<li><span><i class="glyphicon glyphicon-calendar"></i> Posted 2 days, 8 hours ago</span></li>
    	        							<li>|</li>
        	    							<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
	    	        						<span class="pull-right buttons">
							                    <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> View More</button>
                    							<button class="btn btn-sm btn-primary-deal"><i class="fa fa-fw fa-shopping-cart"></i> Get Deal</button>
                							</span>
										</ul>
    	   							</div>
    							</div>
  							</div>
						</div>
						<div class="tab-pane" id="tab_default_2">
							<p>
								Howdy, I'm in Tab 2.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
							</p>
							<p>
								<a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
									Click for more features...
								</a>
							</p>
						</div>
						<div class="tab-pane" id="tab_default_3">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Learn more...
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>