<div class="modal-header">
    <h2 class="modal-title" id="myModalLabel">It's easy and free to join the HID community!</h2>
    <p class="modal-title">Find the hottest deals, promotional codes and vouchers from on and off the web.</p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
            <div class="well">
                <form id="loginForm" method="POST">
                    <div class="form-group">
                        <label for="username" class="control-label">Pick an Username</label>
                        <input type="text" class="form-control" name="username" value="" required="" title="Please enter your username" placeholder="Enter an Username you can remember">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Choose a Safe Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Choose a Safe Password" value="" required="" title="Please enter your password">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Tell Us Your Email</label>
                        <input type="password" class="form-control" name="password" placeholder="Please Enter your email" value="" required="" title="Please enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Your Email Again, Please?</label>
                        <input type="password" class="form-control" name="password" placeholder="Confirm your Email" value="" required="" title="Confirm Your Email">
                    </div>
                    <button type="submit" value="login" name="submit" class="btn btn-success btn-block">Sign Up Now</button><br />
                    <p class="align--center siteLoginSignUp-agreeTerm space--mb-0 space--b-4">By creating an account, you confirm that you accept the
                        <a class="link link--hoverUnderline" href="#/rules" target="_blank">Rules &amp; Regulations</a> and
                        <a class="link link--hoverUnderline" href="#/privacy-policy" target="_blank">Privacy Policy</a>.
                    </p>
                </form>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="well">
                <h2>The Best Bargain Advice</h2>
                <h3>Freely share deal tips, voucher codes and other consumer information.</h3>
                <p>Escape from the marketing messages and ads that surround us and get genuine advice from other people about hot deals.</p>
                <p><strong>Membership is 100% Free. </strong>There is no need to pay retail price. Join the HID community now.</p>
                <p class="lead">Register now for <span class="text-success">FREE</span></p>
            </div>
        </div>
    </div>
</div>