<div class="row">
    <div class="col-md-12">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#current_tab" data-toggle="tab">ACTIVITY {0}</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/subscribed" data-toggle="tab">SUBSCRIBED {0}</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/deals" data-toggle="tab">SAVED DEALS {0}</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/following" data-toggle="tab">FOLLOWING USERS {0}</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/competitions" data-toggle="tab">COMPETITIONS</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/fsft" data-toggle="tab">FOR SALE/ FOR TRADE {0}</a>
                    </li>
                    <li>
                        <a href="#/profile/sarnathkj/feedback" data-toggle="tab">FEEDBACK {0}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="current_tab">
                           
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>