/* HomePage CSS
-------------------------------------------------- */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.loginBox {
	text-align: center;
}

.well {
	background-color: #FFF;
}

.btn-primary-deal {
	color: #FFF;
	background-color: #A11C00;
	border-color: #A11C00;
}

.btn-primary-deal:hover {
	color: #FFF;
}